.secret/
.vscode
checkpoints
data
outputs
wandb/
# output dir
output
instant_test_output
inference_test_output

*.mp4
*.csv
*.png
*.json
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
detectron2/build/
detectron2/dist/
detectron2/wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
**/*.pyc
**/__pycache__/
*.log
*.linux*
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
detectron2/detectron2/model_zoo/configs
detectron2/datasets/*
!/datasets/*.*
/projects/*/datasets
detectron2/models
/snippet